[buildout]
prefer-final = false
newest = false
download-cache = .cache
develop = .
parts = 

[project]
name = infi.git_mirror
homepage = https://github.com/Infinidat/${project:name}
company = Infinidat
namespace_packages = ['infi']
install_requires = ['infi.execute',
	'infi.pyutils',
	'setuptools']
version_file = src/infi/git_mirror/__version__.py
description = A simple console script for mirroring git repositories between two remotes.
long_description = A simple console script for mirroring git repositories between two remotes.
console_scripts = ['mirror_git_repository = infi.git_mirror.scripts:mirror_git_repository']
gui_scripts = []
package_data = []
upgrade_code = {5111d6ca-9f4a-11e1-9d85-1093e90fe436}
product_name = ${project:name}
post_install_script_name = None
pre_uninstall_script_name = None

[isolated-python]
recipe = infi.recipe.python
version = v3.8.0.2

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}

[development-scripts]
dependent-scripts = true
recipe = infi.recipe.console_scripts
eggs = infi.traceback
	${project:name}
	coverage
	ipython
	pylint
	mock
	nose
interpreter = python

[pack]
recipe = infi.recipe.application_packager

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

